<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button">&#9776;</button>
        <a class="navbar-brand" ui-sref="app.home"> NG Demo</a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a>
            </li>
            <li class="nav-item px-1" ui-sref-active="active">
                <a class="nav-link" ui-sref="app.about">About</a>
            </li>
            <li class="nav-item px-1" ui-sref-active="active">
                <a class="nav-link" ui-sref="app.contact">Contact</a>
            </li>
        </ul>
    </div>
</header>
