<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                Lazy Loaded Components
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.users" ui-sref-active="active"><i class="ti-user"></i> Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.kool" ui-sref-active="active"><i class="ti-package"></i> Kool</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                UI Elements
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href=""><i class="ti-dashboard"></i> Components</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.buttons"><i class="ti-map"></i> Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.cards"><i class="ti-infinite"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.callout"><i class="ti-mouse"></i> Callout</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
