// Bootstrap overrides

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #263238;
$gray:                      #607d8b;
$gray-light:                #b0bec5;
$gray-lighter:              #cfd8dc;
$gray-lightest:             #eceff1;

$brand-primary:         #2780E3 !default;
$brand-success:         #3FB618 !default;
$brand-info:            #9954BB !default;
$brand-warning:         #FF7518 !default;
$brand-danger:          #FF0039 !default;

$font-family-sans-serif:     SEGOEUIL, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// Here you can add other styles
@font-face {
  font-family: 'SEGOEUIL';
  src: url('../fonts/SEGOEUIL.eot');
  src: local('SEGOEUIL'), url('../fonts/SEGOEUIL.woff') format('woff'), url('../fonts/SEGOEUIL.ttf') format('truetype');
}

@font-face {
  font-family: 'SEGOEUIBOLD';
  src: url('../fonts/ufonts.com_segoe_ui_bold.eot');
  src: local('SEGOEUIBOLD'), url('../fonts/ufonts.com_segoe-ui-bold.woff') format('woff'), url('../fonts/ufonts.com_segoe-ui-bold.ttf') format('truetype');
}

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:        true;
$enable-rounded:            false;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  q: (
    x:   ($spacer-x * 0.25),
    y:   ($spacer-y * 0.25)
  ),
  h: (
    x:   ($spacer-x * 0.5),
    y:   ($spacer-y * 0.5)
  ),
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  )
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                    #e4e5e6;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:             0.875rem;

// Breadcrumbs

$breadcrumb-bg:                 #fff;

// Cards

$card-border-color:        $gray-lighter;
$card-cap-bg:              $gray-lightest;

// Dropdowns

$dropdown-padding-y:             0;
$dropdown-border-color:          $gray-lighter;
$dropdown-divider-bg:            $gray-lightest;

// Buttons

$btn-secondary-border:          $gray-light;

// Progress bars

$progress-bg:                   $gray-lightest;

// Tables

$table-bg-accent:               $gray-lightest;
$table-bg-hover:                $gray-lightest;
